# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# temporary and export files
*.csv
*.db
*.meta
*.index
*.data-*
*.txt
*.tar.bz2
db_trajectories
checkpoint
*.tfevents.*
tmp/*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.state
*.pyc
*.c.*
*.bin
bayes
bayes.c
cython_debug/
.idea/

# Temporary
*~
~*
